#page-wrapper {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#success-box {
    max-width: 800px;
    height: auto;
    border: 1px solid var(--third-color);
    border-radius: 4px;
    padding: 16px;
}

#success-box i {
    color: #696969;
    opacity: 0.9;
}

#back-btn {
    background-color: var(--secondary-color-bg);
    border: solid 1px var(--secondary-color-bg);
    transition: 0.7s;
}

#back-btn:hover {
    opacity: 0.6;
}