
#projects-title {
    padding: 100px 60px 0 60px;
    font-size: 3rem;
    color: var(--primary-color);
    margin: 0;
}
@media only screen and (max-device-width: 991px) {
    #projects-title {
        padding: 100px 60px 24px 60px;
    }
}
@media only screen and (max-device-width: 768px) {
    #projects-title {
        padding: 90px 60px 32px 60px;
    }
}
@media only screen and (max-device-width: 560px) {
    #projects-title {
        font-size: 2rem;
        padding: 80px 24px 32px 24px;
    }
}

#form-tags {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-tags select {
    padding: 8px 10px;
    margin-bottom: 12px;
    color: var(--primary-color);
}
@media only screen and (max-device-width: 425px) {
    #form-tags select {
        margin: 0;
    }
}

#form-tags p {
    font-size: 0.7rem;
}
@media only screen and (max-device-width: 560px) {
    #form-tags p {
        font-size: 0.6rem;
    }
}
@media only screen and (max-device-width: 425px) {
    #form-tags p {
        visibility: hidden;
        margin: 0;
    }
}

@media only screen and (max-device-width: 560px) {
    #form-tags label {
        font-size: 0.8rem;
    }
}

@media only screen and (max-device-width: 560px) {
    #form-tags option {
        font-size: 0.8rem;
    }
}

#form-tags input {
    background-color: var(--secondary-color-bg) !important;
    border: solid 1px var(--secondary-color-bg) !important;
    transition: 0.7s !important;
}
@media only screen and (max-device-width: 560px) {
    #form-tags input {
        font-size: 0.8rem;
    }
}
@media only screen and (max-device-width: 425px) {
    #form-tags input {
        padding: 6px 8px;
    }
}

#form-tags input:hover {
    opacity: 0.6;
}

.projects {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 30px 120px;
}
@media only screen and (max-device-width: 1285px) {
    .projects {
        padding: 30px 24px;
    }
}
@media only screen and (max-device-width: 900px) {
    .projects {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }
}