
#projects-title {
    padding: 100px 120px 0 120px;
    font-size: 3rem;
    color: var(--primary-color);
    margin: 0;
}
@media only screen and (max-device-width: 768px) {
    section h2 {
        text-align: center;
    }
}
@media only screen and (max-device-width: 560px) {
    section h2 {
        font-size: 2rem;
    }
}

#form-tags {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-tags select {
    padding: 8px 10px;
    margin-bottom: 12px;
    color: var(--primary-color);
}

#form-tags p {
    font-size: 0.7rem;
}
@media only screen and (max-device-width: 560px) {
    #form-tags p {
        font-size: 0.6rem;
    }
}

#form-tags input {
    background-color: var(--secondary-color-bg) !important;
    border: solid 1px var(--secondary-color-bg) !important;
    transition: 0.7s !important;
}

#form-tags input:hover {
    opacity: 0.6;
}

.projects {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 30px 120px;
}
@media only screen and (max-device-width: 1285px) {
    .projects {
        padding: 30px 24px;
    }
}
@media only screen and (max-device-width: 900px) {
    .projects {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }
}