
<div class="banner">
        <div class="banner__title">
            <h2>Florian Delage<span>'s</span></h2>
            <h1>Portfolio</h1>
        </div>
        <div class="banner__subtitle">
            <p>Développeur Back-end Python</p>
            <div class="banner__social-media">
                <a href="{{ profile.github }}" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="{{ profile.linkedin }}" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
</div>