
{% load custom_tags %}

<nav class="navbar fixed-top navbar-expand-lg .navbar-dark bg-dark">
    <div class="container-fluid p-0">
        <a class="navbar-brand" href="{% url 'home' %}">Accueil</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="fa-solid fa-align-justify"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% anchor 'home' 'profile' %}">Bio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% anchor 'home' 'skills' %}">Compétences</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% anchor 'home' 'projects' %}">Projets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% anchor 'home' 'contact' %}">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>