
.banner {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    padding: 160px 0;
    margin-bottom: 30px;
}

.banner-content h1 {
    font-family: 'Archivo Black', sans-serif;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 6rem;
    padding: 0 60px;
    margin: 0 0 60px 0;
    opacity: 0.95;
}

.banner-content p {
    font-family: "Open Sans",sans-serif;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 1.2rem;
    opacity: 0.95;
}

.banner .banner-content .subtitle {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}

.banner .banner-content .subtitle #social-media i {
    color: white;
    opacity: 0.95;
    font-size: 1.5rem;
    margin: 0 5px;
    transition: 0.7s;
}

.banner .banner-content .subtitle #social-media i:hover {
    opacity: 0.5;
}
