
#projects-title {
    padding: 110px 120px 12px 120px;
    font-size: 3rem;
}

#form-tags {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-tags select {
    padding: 8px 10px;
    margin-bottom: 12px;
}

.projects {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
    width: 100%;
    padding: 30px 120px;
}