
.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    padding: 24px 24px 40px 24px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.project-card img {
    height: 210px;
    width: 360px;
    margin: 12px 0 16px 0;
    border: solid 0.1px var(--primary-color);
    border-radius: 4px;
}

.project-card__tags span {
    font-size: 0.8rem;
    font-style: italic;
    color: var(--third-color);
}

.project-card__links {
    padding-top: 32px;
}

.project-card__links a {
    text-decoration: none;
    background-color: var(--secondary-color-bg);
    border: solid 1px var(--secondary-color-bg);
    border-radius: 4px;
    color: white;
    padding: 16px;
    margin: 8px;
    transition: 0.7s;
}

.project-card__links a:hover {
    opacity: 0.6;
}

.project-card__links #project-url {
    padding: 16px 21px;
}