
{% extends 'base/main.html' %}
{% load static %}

{% block title %}Accueil{% endblock title %}


{% block content %}
    <!-- Navbar -->
    {% include 'base/components/navbar.html' %}

    <!-- Banner -->
    {% include 'base/components/banner.html' %}

    <!-- Profile -->
    <section id="profile">
        <div class="text">
            <h2>Bio</h2>
            <p>{{ profile.bio | safe }}</p>
        </div>
        <div class="illustration">

        </div>
    </section>

    <!-- Skills -->
    <section id="skills">
        <div class="text">
            <h2>Compétences</h2>
            <p>{{ profile.skills | safe }}</p>
        </div>
        <div class="illustration">
            <i class="fa-brands fa-python"></i>
            <i class="fa-brands fa-js-square"></i>
            <i class="fa-brands fa-html5"></i>
            <i class="fa-brands fa-css3-alt"></i>
            <i class="fa-brands fa-bootstrap"></i>
            <i class="fa-brands fa-git-alt"></i>
        </div>
    </section>

    <!-- Projects -->
    <section id="projects">
        <div class="text">
            <h2>Projets</h2>
            <p>{{ profile.work | safe }}</p>
        </div>
        <div class="illustration">
            <a href="{% url 'projects' %}">Voir mes projets</a>
        </div>
    </section>

    <!-- Contact -->
    <section id="contact">
        <h2>Contact</h2>
        <form class="contact__form" method="POST" action="{% url 'send_email' %}">
            {% csrf_token %}

            <label>Nom</label>
            <input required class="input-field" type="text" name="name">

            <label>Sujet</label>
            <input required class="input-field" type="text" name="subject">

            <label>Email</label>
            <input required class="input-field" type="text" name="email">

            <label>Message</label>
            <textarea required class="input-field" name="message"></textarea>

            <input id="contact__submit-btn" type="submit" value="Envoyer">
        </form>
    </section>

{% endblock content %}