{% extends 'base/main.html' %}

{% block title %}Projets{% endblock title %}


{% block content %}
    <!-- Navbar -->
    {% include 'base/components/navbar.html' %}

    <h1 id="projects-title">Mes projets</h1>

    <form id="form-tags" method="GET">
        {{ project_filter.form }}
        <input class="btn btn-dark" type="submit" value="Chercher">
    </form>

    <!-- Projects -->
    {% if projects %}
        <div class="projects">
            {% for project in projects %}
                {% include 'base/components/card-project.html' %}
            {% endfor %}
        </div>
    {% else %}
        <p>Désolé mais il n'y a pas de projet</p>
    {% endif %}

{% endblock content %}