{% extends 'base/main.html' %}
{% load static %}

{% block title %}Projets{% endblock title %}


{% block content %}
    <!-- Projects -->
    <div class="projects">
        {% for project in projects %}
            <img class="image" src="{% static project.image.url %}">
            {{ project.title }}
            {{ project.description }}
            {% for tag in project.tags.all %}
                <span class="tag">{{tag}}</span>
            {% endfor %}
            <a href="{{ project.url }}" target="_blank">Project</a>
            <a href="{{ project.repository }}" target="_blank">Repository</a>
        {% endfor %}
    </div>

{% endblock content %}